<%= javascript_pack_tag 'dashboard' %>
<div class="sd-grid">
    <div class="sd-elm">
        <div id="sd-card-small">
            <p>Create a new task</p>
            <a href="/tasks/new"><div class="sd-plus"></div></a>
        </div>
    </div>
    <% @tasks.each do |task| %>
        <div class="sd-elm">
            <div class="sd-card-container">
                <div id="<%= task.short %>-filled-star" class="sd-i-starred" <% if task.starred === nil || task.starred === false %>style="display: none;"<% end %>><i class="fas fa-star"></i></div>
                <div id="<%= task.short %>-empty-star" class="sd-i-empty" <% if task.starred? %>style="display: none;"<% end %>><i class="far fa-star"></i></div>
                <a href="tasks/show/<%= task.short %>"><div id="sd-card">
                    <% if task.status === "Running" %>
                        <div id="sd-i-running"></div>
                    <% else %>
                        <div id="sd-i-running"></div>
                    <% end %>
                    <h1><i class="fas fa-globe"></i></h1>
                    <h2><%= task.title %></h2>
                    <p><%= task.description %></p>
                    <div class="sd-br"></div>
                    <% if task.regularity == "Hourly" %>
                        <p class="task-clock"><i class="far fa-clock"></i> <b>00:00:00</b> — <%= task.time.strftime("%M:%S") %> 
                        <%= task.regularity %></p>
                    <% else %>
                        <p class="task-clock"><i class="far fa-clock"></i> <b>00:00:00</b> — <%= task.time.strftime("%l:%M:%S %p") %> 
                        <%= task.regularity %></p>
                    <% end %>
                </div></a>
            </div>
        </div>
    <% end %>
</div>