<div class="sd-grid">
    <div class="sd-elm">
        <div class="sd-card">
            <p>Create a new task</p>
            <a href="/tasks/new"><div class="sd-plus"></div></a>
        </div>
    </div>
    <% @tasks.each do |task| %>
        <a href="/tasks/show/<%= task.short %>"><div class="sd-elm">
            <div class="sd-card">
                <div class="sd-i-running"></div>
                <h1><i class="fas fa-globe"></i></h1>
                <h2><%= task.title %></h2>
                <p><%= task.description %></p>
                <div class="sd-br"></div>
                <p><i class="far fa-clock"></i> <%= task.time %>, <%= task.regularity %></p>
            </div>
        </div></a>
    <% end %>
</div>