<%= javascript_pack_tag 'tasks' %>

<div id="t-head">
    <a href="/tasks"><div id="t-btn-b">
        <h1><i class="fas fa-sign-out-alt"></i></h1>
    </div></a>
    <a href="/tasks/edit/<%= @task.short %>"><div id="t-btn-e">
        <h1><i class="fas fa-pen"></i></h1>
    </div></a>
    <a href="#"><h1><i class="fas fa-globe"></i> <%= @task.title %></h1></a>
    <p><%= @task.description %></p>
</div>
<div id="<%= @task.short %>" class="task-short-report" style="display: none;"></div>
<div id="t-body">
    <div class="t-body-main">
        <div class="toggle-container">
            <% if @task.status === "Running"%>
                <div class="toggle" id="t-toggle-toggled">
                    <div class="toggle-circle"></div>
                </div>
                <p class="running-confirm green"><i class="fas fa-check-circle"></i> Running</p>
                <p class="stopped-confirm red" style="display: none;"><i class="fas fa-times-circle"></i> Stopped</p>
            <% else %>
                <div class="toggle" id="t-toggle">
                    <div class="toggle-circle"></div>
                </div>
                <p class="running-confirm green" style="display: none;"><i class="fas fa-check-circle"></i> Running</p>
                <p class="stopped-confirm red"><i class="fas fa-times-circle"></i> Stopped</p>
            <% end %>
        </div>
        <div class="t-grid">
            <% @task.task_methods.each do |method| %>
                <div class="t-elm">
                    <a href="/tasks/edit/<%= @task.short %>/methods/edit/<%= method.id %>"><div class="method-card">
                        <% if method.action_type === "GET" %>
                            <h1><i class="fas fa-link"></i>
                        <% elsif method.action_type === "find" %>
                            <h1><i class="fas fa-search"></i>
                        <% elsif method.action_type === "click" %>
                            <h1><i class="fas fa-mouse-pointer"></i>
                        <% elsif method.action_type === "email" %>
                            <h1><i class="fas fa-envelope"></i>
                        <% elsif method.action_type === "save as" %>
                            <h1><i class="fas fa-arrow-circle-down"></i>
                        <% else %>
                            <h1><i class="far fa-question-circle"></i>
                        <% end %>
                        <%= method.action_type %></h1>
                        <% if method.modifier %>
                            <h2><%= method.action %>: previous <%= method.modifier %></h2>
                        <% else %>
                            <h2><%= method.action %></h2>
                        <% end %>
                        <p><i class="far fa-clock"></i> <%= method.delay %> second delay</p>
                        <% if @task.status == "Running" %>
                            <div class="t-activity-bar-r"></div>
                        <% else %>
                            <div class="t-activity-bar-s"></div>
                        <% end %>
                    </div></a>
                </div>
                <% if method != @task.task_methods.last %>
                    <div class="t-elm-arrow">
                        <h1><i class="fas fa-arrow-right"></i></h1>
                    </div>
                <% end %>
            <% end %>
            <div class="t-elm" style="margin-up: auto; margin-down: auto;">
                <a href="/tasks/edit/<%= @task.short %>/methods/new"><div id="t-plus"></div></a>
            </div>
        </div>
    </div>
    <br>
    <div id="console">
        <h1>Console</h1>
        <div id="console-output-container">
            <div id="console-output">
                <div id="log-body">
                    <% @task.logs.each do |l| %>
                        <div>
                            <p><%= "[#{l["time"].to_time.strftime("%H:%M:%S")}]" %></p><p <% if l["message"].start_with?("ERROR") %>class="red"<% end %>><%= "#{l["message"]}" %></p>
                        </div>
                    <% end %>
                </div>
                <%= form_with url: "#/log-report", method: :post, html: { autocomplete: "off", spellcheck: false } do |f| %>
                    <h2 style="display: inline;">»</h2>
                    <%= f.text_field :cmd %>
                <% end %>
            </div>
        </div>
    </div>
    <br>
    <div id="results">
        <h1>Results</h1>
        <div id="results-output-container">
            <table id="t-table">
                <tr>
                    <th class="left">Time</th>
                    <th class="right">Variable</th>
                    <th class="right">Result</th>
                </tr>
                <% @task.data.each do |d| %>
                    <tr>
                        <% d["results"].each do |r| %>
                            <td><%= r["time"].to_time.strftime("%H:%M:%S") %></td>
                            <td><%= r["variable"] %></td>
                            <td><%= "#{r["result"]}" %></td>
                        <% end %>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
    <br>
</div>