<%= form_for @method, url: "#", method: :post, html: { multipart: true, class: "full-page" } do |f| %>
    <div class="form-entry">
        <%= f.label :action_type, "Type of Method" %><br>
        <%= f.select :action_type, ["GET", "find", "click", "save", "email"] %>
    </div>
    <div class="form-entry">
        <%= f.label :action, "Action" %><br>
        <%= f.text_field :action %>
    </div>
    <div class="form-entry">
        <%= f.label :delay, "Delay (Seconds)" %><br>
        <%= f.number_field :delay %>
    </div>
    <div class="form-entry">
        <div class="form-btn"><%= f.submit "Submit", id: "form-submit-btn", class: "form-btn", data: { disable_with: 'Submitting...' } %></div>
    </div>
<% end %>