<%= javascript_pack_tag 'method' %>

<script>
    var last;
    $(document).on("click", () => {
        if (!last) {
            last = $("#task_method_action_type").find("option:selected").attr("value");
        }
        console.log(last);
        var val = $("#task_method_action_type").find("option:selected").attr("value");
        console.log(val);
        if (val != last) {
            switch (val) {
                case "logic":
                    $("#form-container").html(
                        `<%= render 'logic_form.html.erb'  %>`
                    );
                    break;
                case "save as":
                    $("#form-container").html(
                        `<%= render 'variable_form.html.erb'  %>`
                    );
                    break;
                case "GET":
                    $("#form-container").html(
                        `<%= render 'website_form.html.erb'  %>`
                    );
                    break;
                case "end logic":
                    $("#form-container").html(
                        `<%= render 'end_logic_form.html.erb'  %>`
                    );
                    $("#task_method_action").css("display", "none");
                    break;
                case "email":
                    $("#form-container").html(
                        `<%= render 'email_form.html.erb'  %>`
                    );
                    break;
                default:
                    $("#form-container").html(
                        `<%= render 'find_form.html.erb'  %>`
                    );
            }
            //var old =  $("#task_method_action_type").find("option:selected").attr("value");
            //$("#task_method_action_type").find("option:selected").attr("value", val);
            //$("#task_method_action_type").find("option:selected").html(val);
            //$("#task_method_action_type").append(`<option value="${old}">${old}</option>`);
            //$("#task_method_action_type").find(`option[value="${val}"]`).eq(1).remove();
            last = val;
        }
    });
</script>

<div id="form-container">
    <% if @method.action_type == "GET" %>
        <%= render 'website_form.html.erb' %>
    <% elsif @method.action_type == "logic" %>
        <%= render 'logic_form.html.erb' %>
    <% elsif @method.action_type == "save as" %>
        <%= render 'variable_form.html.erb' %>
    <% elsif @method.action_type == "end logic" %>
        <%= render 'end_logic_form.html.erb' %>
    <% elsif @method.action_type == "email" %>
        <%= render 'email_form.html.erb' %>
    <% else %>
        <%= render 'find_form.html.erb' %>
    <% end %>
</div>