<!DOCTYPE html>
<html>
  <head>
    <title>Scraper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/639fd03b5d.js" crossorigin="anonymous"></script>
  </head>

  <%= render "layouts/head" %>
  <body>
    <div class="content-display">
      <%= yield %>
    </div>
  </body>
  <%= render "layouts/footer" %>
</html>
